body{
    background-image: url("../img/front-banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Ubuntu', sans-serif;
}

/* jumbotron */
.jumbotron{
    width: 1100px;
    margin: 50px auto;
}

header{
    width: 80%;
}

.navbar{
    display: grid;
    grid-template-columns: 13% auto;
    grid-auto-flow: row;
}

.navbar img{
    padding-right: 20%;
    border-right: 1px solid grey;
}

.about{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 100% auto;
    border-bottom: 1px solid gray;
    justify-content: space-between;
    width: 115%;
}

.about-left{
    display: grid;
    grid-auto-flow: column;
    padding-left: 4%;
    grid-template-columns: 20% 3% 22% auto;
}

.about-left p i, .about-right p i{
    color: #54566C;
}

.about-left p:first-child{
    font-weight: bold;
}

.about-left p:nth-child(2){
    text-align: center;
}

.about-left p:nth-child(3){
    background-color: #DDDCDE;
    color: #686E86;
    border-radius: 100px;
    font-weight: bold;
    text-align: center;
}

.about-left p:nth-child(4){
    text-align: right;
}

.nav{
    display: grid;
    justify-content: space-between;
    align-items: baseline;
    grid-auto-flow: column;
    grid-template-columns: 100% auto;
}

.nav ul{
    display: grid;
    padding-left: 4%;
    grid-auto-flow: column;
    width: 70%;
}

li {
    list-style: none;
}

li a{
    text-decoration: none;
    font-weight: bold;
    color: #54566C;
}

li a:hover{
    color: #59731D;
    border-bottom: 1px solid #00BC6E;
}

.dropdown {
    overflow: hidden;
    margin-left: auto;
}
  
/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    outline: none;
    color: #54566C;
    text-transform: uppercase;
    font-weight: bold;
    background-color: inherit;
    display: inline;
    width: 50px;
    margin-left: 60px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #686E86;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-right: 0;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
/* //dropdown menu */


.container{
    margin-top: 40px;
    margin-bottom: 40px;
}

.container h1{
    font-family: 'PT Serif', serif;
    color: #181F42;
    font-weight: bold;
}

.container p{
    color: #181F42;
}

.container button{
    width: 200px;
    border-radius: 5px;
    margin-top: 30px;
    margin-right: 10px;
    padding: 3px 3px;
    height: 40px;
}

.container button a{
    text-decoration: none;
    font-weight: bold;
    color: #181F42;
}

.container button:hover{
    background-color: #007444;
}

.container .btn1{
    border: none;
    background-color: #00BC6E;    
}

.container .btn1 a{
    color: white;
}

.container .btn2{
    background-color: transparent;
    border: 1px solid #686E86;
}

.container .btn2 a:hover{
    color: white;
}

.footer{
    margin-top: 100px;
}

.footer img{
    margin-right: 20px;
}